@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --New_Rocker: 'New Rocker', cursive, sans-serif;
    --Roboto: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--Roboto);
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 89px;
    background-color: #404EED;
    display: flex;
    justify-items: center;
    padding: 10px 40px;
}

.container{
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: space-between;
}

h2{
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: 400;
}

section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 100px 0px 100px;
}

.section_caixa{
    display: flex;
    justify-content: space-between;
}

.section_caixa_escolha{
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.section_caixa_escolha__img{
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*cor que aparece quando for selecionada*/
.selecionado{
    border: 3px solid #404EED;
}

h3{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
}

section p {
    margin-top: 20px;
}

input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
}

button{
    width: 100%;
    height: 40px;
    background-color: #C4C4C4;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color .3s;
}

button:active {
    background-color: #3540bb;
}

aside{
    width: 50%;
    height: 100%;
    background-color: #404EED;
    padding: 20px 40px;
}

aside img{
    width: 100%;
    height: 100%;
}

article{
    background-color: #F2F2F2;
    width: 100%;
    height: 600px;
    padding: 20px ;
}

article h2{
    font-size: 24px;
    font-weight: 400;
    margin-left: 100px;
}

ul {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 80px;
    flex-wrap: wrap;
}

li{
    background-color: #ffffff;
    width: 200px;
    height: 235px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 0 20px 0;
}

li img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.escuro{
    font-weight: bold;
    display: inline;
}